@import 'tailwindcss';

@theme inline {
  --color-gray-50: var(--color-gray-50, oklch(98.5% 0 0));
  --color-gray-100: var(--color-gray-100, oklch(96.7% 0.001 286.375));
  --color-gray-200: var(--color-gray-200, oklch(92% 0.004 286.32));
  --color-gray-300: var(--color-gray-300, oklch(87.1% 0.006 286.286));
  --color-gray-400: var(--color-gray-400, oklch(70.5% 0.015 286.067));
  --color-gray-500: var(--color-gray-500, oklch(55.2% 0.016 285.938));
  --color-gray-600: var(--color-gray-600, oklch(44.2% 0.017 285.786));
  --color-gray-700: var(--color-gray-700, oklch(37% 0.013 285.805));
  --color-gray-800: var(--color-gray-800, oklch(37% 0.013 285.805));
  --color-gray-900: var(--color-gray-900, oklch(37% 0.013 285.805));
  --color-gray-950: var(--color-gray-050, oklch(37% 0.013 285.805));

  --color-primary: var(--color-primary, oklch(14.7% 0.004 49.25));
  --color-primary-foreground: var(--color-primary-foreground, oklch(98.5% 0 0));

  --color-secondary: var(--color-secondary, oklch(92% 0.004 286.32));
  --color-secondary-foreground: var(--color-secondary-foreground, oklch(37% 0.013 285.805));

  --color-accent: var(--color-accent, oklch(54.6% 0.245 262.881));
  --color-accent-foreground: var(--color-accent-foreground, oklch(93.2% 0.032 255.585));
}

@theme {
  --animate-enter: enter 0.1s ease-out;
  --animate-exit: exit 0.1s ease-out;

  @keyframes enter {
    from {
      opacity: 0;
      transform: scale(0.95) translateY(-10px);
    }
    to {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  @keyframes exit {
    from {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
    to {
      opacity: 0;
      transform: scale(0.95) translateY(-10px);
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, oklch(92% 0.004 286.32));
  }
}

@layer components {
  .ghost-block {
    @apply opacity-30 bg-accent/20 border-2 border-dashed border-accent/80 rounded-md;
  }

  .property-field-enter-active,
  .property-field-leave-active {
    transition: all 0.2s ease;
    overflow: hidden;
  }

  .property-field-enter-from,
  .property-field-leave-to {
    opacity: 0;
    max-height: 0;
  }

  .property-field-enter-to,
  .property-field-leave-from {
    opacity: 1;
    max-height: 200px;
  }
}
